<div class="banner">
  <h1>The Petsitters</h1>
  <div class="container text-center btn-effect ">
    <h4><%= link_to 'Add my pet!', new_pet_path%></h4>
  </div>
</div>

<br>
<% if @pets.any? %>
  <div class="container">
    <div class="row">
      <% @pets.each do |pet| %>
      <div class="col">
      <div class="card">
        <%= link_to pet_path(pet.id) do %>
          <%= cl_image_tag(pet.photo.key, class: "w-100", crop: :fill) %>
        <% end %>
        <h3>Hello, I'm <%= pet.name.capitalize %>!</h3>
        <p>I am a <%= pet.species %></p>
      </div>

    </div>
        <% end %>
  </div>
  </div>

<% else %>
    <div class="container text-center">
      <h4 class="header">Oh no! Such empty! There are no pets to take care of yet...</h4>
    </div>
<% end %>
