<div class="banner sticky">
  <h1>The Petsitters</h1>
  <h3>Take care of a pet near you, for a few hours or even for a few days!</h3>
  <%= link_to root_path do %>
    <h3><i class="fas fa-paw"></i></h3>
  <% end %>
  <br>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="mt-5">
  <% if @pets.any? %>
    <div class="container">
      <div class="row pb-5 mb-5">
        <% @pets.each do |pet| %>
          <div class="col-4">
            <div class="card">
              <%= link_to pet_path(pet.id) do %>
                <%= cl_image_tag(pet.photo.key, class: "w-100") %>
              <% end %>
              <h3>Hello, I'm <%= pet.name.capitalize %>!</h3>
              <p>I am <strong><%= pet.pet_owner.name.capitalize%></strong>'s <%= pet.species %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
      <div class="container text-center">
        <h4 class="header">Oh no! Such empty! There are no pets to take care of yet...</h4>
      </div>
  <% end %>
</div>

