<div class="container">
  <h1><%= @pet.name %></h1>
  <%= link_to "Back to all pets", root_path %>
  <br>
  <% if @pet.photo.attached? %>
  <%= cl_image_tag @pet.photo.key , height: 300, width: 400, crop: :fill %>
  <% end %>


  <div class="row">
    <div class="col-sm-12 col-md-6">
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Name</th>
            <th>Species</th>
            <th>Name of my owner</th>
          </thead>
            <tr>
              <td><%= @pet.name %></td>
              <td><%= @pet.species %></td>
              <td><%= @pet.pet_owner.name %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
