<div class="container">
  <h1><%= @pet.name.capitalize %></h1>
    <%= link_to "Back to all pets", pets_path %>
  <br>
  <% if @pet.photo.attached? %>
    <%= cl_image_tag @pet.photo.key , height: 300, width: 400, crop: :fill %>
  <% end %>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <table class="table table-bordered">
        <ul>
          <li>Name : <%= @pet.name.capitalize %></li>
          <li>Species : <%= @pet.species %></li>
          <li>Name of my owner : <%= @pet.pet_owner.name.capitalize %></li>
        </ul>
      </table>
    </div>
  </div>
  
  <div
    id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div>
    <strong><%= link_to "Book this pet ðŸ¶", new_pet_booking_path(@pet) %></strong>
  </div>


