<div class="banner">
  <h1>The Petsitters</h1>
  <h3>Welcome, <%= current_user.name.capitalize %>!</h3>
  <br>
  <h4>Your profile status: <%= @user.role %></h4>
</div>



<div class="container d-flex justify-content-around p-4">
  <div class="container text-center btn-effect ">
    <h4><%= link_to 'Back to pets list', pets_path%></h4>
  </div>
  <div class="form-row align-items-center">
    <%= simple_form_for current_user, url: change_role_path do |f| %>
     <%= f.input :role, label: "Your status", collection: ["petsitter", "petowner"], as: :radio_buttons %>
     <%= f.button :submit, class: 'btn' %>
    <% end %>
  </div>
    <% if @user.role === "petowner" %>
      <div class="container text-center btn-effect ">
      <h4><%= link_to 'Add my pet!', new_pet_path%></h4>
    <% end %>
  <div>
</div>

<div class="booking mt-5">
  <% if @user_bookings.any? %>
    <div class="container">
      <div class="row pb-5 mb-5">
        <% @user_bookings.each do |user_booking| %>
          <div class="col-4">
            <div class="card">
                <%= cl_image_tag(user_booking.pet.photo.key, class: "w-100") %>
              <h3>Hello, I'm <%= user_booking.pet.name.capitalize %>!</h3>
              <p>I am booked on <%= user_booking.date %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
      <div class="container text-center">
        <h4 class="header">No bookings yet!</h4>
      </div>
  <% end %>
</div>










