<div class="banner">
  <h1>My Profile: I'm a <%= @user.role %></h1>
  <h2>email: <%= @user.email %></h2>
  <div class="container text-center btn-effect ">
    <h4><%= link_to 'Back to pets list', pets_path%></h4>
  </div>
</div>

<div class="mt-5">
  <% if @user_bookings.any? %>
    <div class="container">
      <div class="row pb-5 mb-5">
        <% @user_bookings.each do |user_booking| %>
          <div class="col-4">
            <div class="card">
                <%= cl_image_tag(user_booking.pet.photo.key, class: "w-100") %>
              <h3>Hello, I'm <%= user_booking.pet.name.capitalize %>!</h3>
              <p>I am booked on <%= user_booking.date %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
      <div class="container text-center">
        <h4 class="header">No bookings yet!</h4>
      </div>
  <% end %>
</div>
