<!DOCTYPE html>
<html>
  <head>
    <title>THEPetsitters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>

    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="footer">
      <p> You can find us on:</p>
      <ul class="list-inline">
        <p><i class="width fab fa-facebook-square"></i></p>
        <p><i class="width fab fa-linkedin"></i></p>
        <p><i class="width fab fa-instagram-square"></i></p>
      </ul>
    </div>

  </body>
</html>
